.accordion {
	opacity: 0;
	animation-name: fade-in;
	animation-duration: 0.5s;
	animation-delay: 2s;
	animation-fill-mode: forwards;

	&__list {
		height: 35px;
		overflow: hidden;
	}

	&__item {
		color: $white;
		font-size: 28px;
		animation-name: scroll;
		animation-duration: 5s;
		animation-delay: 2s;
		animation-fill-mode: forwards;
	}

	svg {
		height: 20px;
		width: 20px;
	}
}

@media (min-width: 768px) {
	.accordion {

		&__list {
			height: 60px;
		}

		&__item {
			font-size: 46px;
		}
	}
}
