@charset "UTF-8";
body {
  margin: 0;
  font-family: 'Lora', serif; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

@keyframes fade-in {
  to {
    opacity: 1;
    transform: scale(1); } }
@keyframes fade-up {
  to {
    transform: translateY(0);
    opacity: 1; } }
@keyframes scroll {
  0% {
    transform: translateY(0); }
  25% {
    transform: translateY(0); }
  33% {
    transform: translateY(-100%); }
  50% {
    transform: translateY(-100%); }
  58% {
    transform: translateY(-200%); }
  74% {
    transform: translateY(-200%); }
  80% {
    transform: translateY(-300%); }
  100% {
    transform: translateY(-300%); } }
.section {
  display: grid;
  height: 100vh;
  width: 100vw;
  background: #474747;
  color: #fff; }
  .section--fade {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 60px;
    background-image: url("../images/ethan-jump.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right 30%;
    position: relative; }
    .section--fade::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background: linear-gradient(145deg, #474747, rgba(71, 71, 71, 0.8) 30%, transparent); }
  .section--quad {
    grid-template-columns: 1fr;
    grid-template-rows: auto repeat(4, 1fr);
    height: auto; }
  .section__header {
    padding: 30px 30px; }
  .section__header-text {
    display: block;
    margin-bottom: 10px;
    opacity: 0;
    font-size: 28px;
    transform: scale(0);
    animation-name: fade-in;
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards; }
    .section__header-text:last-child {
      animation-delay: 2s; }
  .section__header-subtext {
    font-size: 16px;
    line-height: 25px; }

@media (min-width: 768px) {
  .section--quad {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr; }
  .section__header {
    grid-column: span 2;
    padding: 60px 100px; }
  .section__header-text {
    font-size: 46px;
    margin-bottom: 30px; } }
.accordion {
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 0.5s;
  animation-delay: 2s;
  animation-fill-mode: forwards; }
  .accordion__list {
    height: 37px;
    overflow: hidden; }
  .accordion__item {
    color: #fff;
    font-size: 28px;
    animation-name: scroll;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-fill-mode: forwards; }
  .accordion svg {
    height: 20px;
    width: 20px; }

@media (min-width: 768px) {
  .accordion__list {
    height: 60px; }
  .accordion__item {
    font-size: 46px; } }
.social-footer {
  grid-row-start: 3;
  align-self: center; }
  .social-footer__list {
    display: flex;
    justify-content: space-evenly; }
  .social-footer__item {
    flex-grow: 1;
    text-align: center;
    opacity: 0;
    transform: translateY(50px);
    animation-name: fade-up;
    animation-delay: 5.125s;
    animation-duration: 1s;
    animation-fill-mode: forwards; }
    .social-footer__item:first-child {
      animation-delay: 5s; }
    .social-footer__item:last-child {
      animation-delay: 5.25s; }
  .social-footer__icon {
    width: 30px;
    fill: white;
    filter: drop-shadow(0 0 5px #474747); }

@media (min-width: 768px) {
  .social-footer__icon {
    width: 20px; } }
.skillset {
  background: #5b5b5b;
  border-radius: 10px;
  margin: 15px 30px;
  padding: 30px;
  position: relative; }
  .skillset__label {
    position: absolute;
    top: -15px;
    left: -20px;
    background: #5e5e5e;
    padding: 5px 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 2px 1px 10px #333333; }
    .skillset__label::before {
      content: '';
      border-top: 10px solid #999;
      border-right: 10px solid #999;
      border-bottom: 10px solid transparent;
      border-left: 10px solid transparent;
      position: absolute;
      bottom: -20px;
      left: 0; }
    .skillset__label--html {
      background: linear-gradient(45deg, #ED6535, #edc135); }
    .skillset__label--sass {
      background: linear-gradient(45deg, #fb1c6e, #fb841c); }
    .skillset__label--js {
      background: linear-gradient(45deg, #b3b300, #ffea00); }
    .skillset__label--platform {
      background: linear-gradient(45deg, #2bc900, #00c99e); }
  .skillset__list-item {
    padding: 0 0 10px 20px;
    line-height: 25px; }
    .skillset__list-item::before {
      content: '✔';
      position: absolute;
      left: 30px; }
  .skillset__link {
    color: #fff;
    background: #ED6535;
    padding: 0 5px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px; }
    .skillset__link:hover {
      color: #ED6535;
      background: #fff;
      transition: color 0.5s, background 0.5s; }
    .skillset__link--pink {
      background: linear-gradient(45deg, #fb1c6e, #fb841c); }
    .skillset__link--orange {
      background: linear-gradient(45deg, #ED6535, #edc135); }
    .skillset__link--green {
      background: linear-gradient(45deg, #2bc900, #00c99e); }

@media (min-width: 768px) {
  .skillset:nth-child(3), .skillset:nth-child(4) {
    grid-row-start: 3; } }

/*# sourceMappingURL=main.css.map */
