body {
  margin: 0; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

@keyframes fade-in {
  to {
    opacity: 1;
    transform: scale(1); } }
@keyframes fade-up {
  to {
    transform: translateY(0);
    opacity: 1; } }
@keyframes scroll {
  0% {
    transform: translateY(0); }
  25% {
    transform: translateY(0); }
  33% {
    transform: translateY(-100%); }
  50% {
    transform: translateY(-100%); }
  58% {
    transform: translateY(-200%); }
  100% {
    transform: translateY(-200%); } }
.section {
  display: grid;
  height: 100vh;
  width: 100vw;
  background: #474747; }
  .section--fade {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 60px;
    background-image: url("../images/ethan-jump.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right 30%;
    position: relative; }
    .section--fade::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background: linear-gradient(145deg, #474747, rgba(71, 71, 71, 0.8) 30%, transparent); }
    .section--fade--quad {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr; }
  .section__header {
    padding: 40px 30px;
    grid-row-start: 1; }
  .section__header-text {
    display: inline-block;
    margin-bottom: 10px;
    opacity: 0;
    color: #fff;
    font-size: 32px;
    transform: scale(0);
    animation-name: fade-in;
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards; }
    .section__header-text:last-child {
      animation-delay: 2s; }

@media (min-width: 768px) {
  .section--quad {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr; }
  .section__header {
    padding: 60px 100px; }
  .section__header-text {
    font-size: 46px;
    margin-bottom: 30px; } }
.accordion {
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 0.5s;
  animation-delay: 2s;
  animation-fill-mode: forwards; }
  .accordion__list {
    height: 37px;
    overflow: hidden; }
  .accordion__item {
    color: #fff;
    font-size: 32px;
    animation-name: scroll;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-fill-mode: forwards; }

@media (min-width: 768px) {
  .accordion__list {
    height: 54px; }
  .accordion__item {
    font-size: 46px; } }
.social-footer {
  grid-row-start: 3;
  align-self: center; }
  .social-footer__list {
    display: flex;
    justify-content: space-evenly; }
  .social-footer__item {
    flex-grow: 1;
    text-align: center;
    opacity: 0;
    transform: translateY(50px);
    animation-name: fade-up;
    animation-delay: 5.125s;
    animation-duration: 1s;
    animation-fill-mode: forwards; }
    .social-footer__item:first-child {
      animation-delay: 5s; }
    .social-footer__item:last-child {
      animation-delay: 5.25s; }
  .social-footer__icon {
    width: 30px;
    fill: white;
    filter: drop-shadow(0 0 5px #474747); }

@media (min-width: 768px) {
  .social-footer__icon {
    width: 20px; } }
.skillset {
  background: #fff;
  border-radius: 10px;
  margin: 50px 100px;
  padding: 60px;
  grid-row-start: 2; }

@media (min-width: 768px) {
  .skillset:nth-child(3), .skillset:nth-child(4) {
    grid-row-start: 3; } }

/*# sourceMappingURL=main.css.map */
