.section {
	display: grid;
	height: 100vh;
	width: 100vw;
	background: $black;

	&--fade {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 60px;
		background-image: url("../images/ethan-jump.JPG");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: top right 30%;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;
			background: linear-gradient(145deg, $black, rgba($black, 0.8) 30%, transparent);
		}

		&--quad {
			grid-template-columns: 1fr;
			grid-template-rows: 1fr 1fr 1fr 1fr;
		}
	}

	&__header {
		padding: 40px 30px;
		grid-row-start: 1;
	}

	&__header-text {
		display: inline-block;
		margin-bottom: 10px;
		opacity: 0;
		color: $white;
		font-size: 32px;
		transform: scale(0);

		animation-name: fade-in;
		animation-duration: 0.5s;
		animation-delay: 1s;
		animation-fill-mode: forwards;

		&:last-child {
			animation-delay: 2s;
		}
	}
}

@media (min-width: 768px) {
	.section {

		&--quad {
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 100px 1fr 1fr;
		}

		&__header {
			padding: 60px 100px;
		}

		&__header-text {
			font-size: 46px;
			margin-bottom: 30px;
		}
	}
}









