.section {
	display: grid;
	height: 100vh;
	width: 100vw;
	background: $black;
	color: $white;

	&--fade {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 60px;
		background-image: url("../images/ethan-jump.JPG");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: top right 30%;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;
			background: linear-gradient(145deg, $black, rgba($black, 0.9) 30%, transparent);
		}
	}

	&--quad {
		grid-template-columns: 1fr;
		grid-template-rows: auto repeat(4, 1fr);
		height: auto;
	}

	&__header {
		padding: 30px 30px;
	}

	&__header-text {
		display: block;
		margin-bottom: 10px;
		opacity: 0;
		font-size: 28px;
		transform: scale(0);

		animation-name: fade-in;
		animation-duration: 0.5s;
		animation-delay: 1s;
		animation-fill-mode: forwards;

		&:last-child {
			animation-delay: 2s;
		}
	}

	&__header-subtext {
		font-size: 16px;
		line-height: 25px;
	}
}

.footer {
	background: linear-gradient($black, black);
	padding: 30px;
	overflow: hidden;

	&__text {
		color: $white;
		text-align: center;
	}
}

@media (min-width: 768px) {
	.section {

		&--quad {
			grid-template-columns: 1fr 1fr;
			grid-template-rows: auto 1fr 1fr;
		}

		&__header {
			grid-column: span 2;
			padding: 60px 100px;
		}

		&__header-text {
			font-size: 46px;
			margin-bottom: 30px;
		}
	}
}









