.section {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 2fr 60px;
	height: 100vh;
	width: 100vw;
	background: $black;

	&--fade {
		background-image: url("../images/ethan-jump.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: top right 30%;

		&:before {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;
			background: linear-gradient(145deg, $black, rgba($black, 0.8) 30%, transparent);
		}
	}

	&__header {
		padding: 40px 30px;
		grid-row-start: 1;
	}

	&__header-text {
		display: inline-block;
		margin-bottom: 10px;
		opacity: 0;
		color: $white;
		font-size: 32px;
		border-bottom: 3px solid $white;

		animation-name: fade-in;
		animation-duration: 1s;
		animation-delay: 1s;
		animation-fill-mode: forwards;

		&:last-child {
			animation-delay: 2s;
		}
	}

	&__footer {
		grid-row-start: 3;
		align-self: center;
	}

	&__footer-list {
		display: flex;
		justify-content: space-evenly;
	}

	&__footer-item {
		flex-grow: 1;
		text-align: center;
		opacity: 0;
		transform: translateY(50px);

		animation-name: fade-up;
		animation-delay: 3.125s;
		animation-duration: 1s;
		animation-fill-mode: forwards;

		&:first-child {
			animation-delay: 3s;	
		}

		&:last-child {
			animation-delay: 3.25s;
		}
	}

	&__footer-icon {
		width: 30px;
		fill: white;
		filter: drop-shadow(0 0 5px $black);
	}

	&__footer-item-label {
		text-align: center;
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
	}
}

@media (min-width: 768px) {
	.section {
		&__header {
			padding: 60px 100px;
		}

		&__header-text {
			font-size: 46px;
			margin-bottom: 30px;
		}
	}
}

@keyframes fade-in {
	to {
		opacity: 1;
	}
}

@keyframes fade-up {
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

