.skillset {
	background: $white;
	border-radius: 10px;
	margin: 50px 100px;
	padding: 60px;
	grid-row-start: 2;
}

@media (min-width: 768px) {
	.skillset {
		&:nth-child(3),
		&:nth-child(4) {
			grid-row-start: 3;
		}
	}
}