.social-footer {
	grid-row-start: 3;
	align-self: center;

	&__list {
		display: flex;
		justify-content: space-evenly;
	}

	&__item {
		flex-grow: 1;
		text-align: center;

		&--delayed {
			transform: translateY(50px);
			opacity: 0;

			animation-name: fade-up;
			animation-delay: 6.125s;
			animation-duration: 1s;
			animation-fill-mode: forwards;

			&:first-child {
				animation-delay: 6s;	
			}

			&:last-child {
				animation-delay: 6.25s;
			}
		}
	}

	&__icon {
		width: 30px;
		fill: white;
		filter: drop-shadow(0 0 5px $black);
	}
}

@media (min-width: 768px) {
	.social-footer {
		&__icon {
			width: 20px;
		}
	}
}